[Unit]
Description=Django Daphne Service
After=network.target

[Service]
WorkingDirectory=/home/user/website
ExecStart=/usr/bin/daphne -b 127.0.0.1 -p 8000 website.asgi:application
Restart=always
StandardOutput=append:/var/log/website/daphne_output.log;
StandardError=append:/var/log/website/daphne_error.log;

[Install]
WantedBy=multi-user.target
